
.projectsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.topDiv {
    margin-left: 25%;
    margin-right: 25%;
}

.topDiv h2 {
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: var(--pink);
}

.project {
    padding: 15px;
    /* background-color: aliceblue */
}

.project p, .project h2{
    padding: 10px;
    margin: 0px;
}

.project a {
    background-color: var(--green);
}

.project a:hover {
    background-color: var(--pink);
}
